.container {
    position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.power {
  width: 20vw;
  height: 3vh;
}

.input {
  width: 15vw;
  height: 3vh;
  text-align: center;
}
